body{
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  
}

.card{
  background-color: rgb(132, 2, 2);
  color: white;
  padding: 20px 20px 20px 20px;
  
  border-radius: 10px;
  
}
.nav{
  padding: 20px;
  margin: 5px;
  background-color: rgb(29, 113, 113);
}