.btn{
    background-color: red;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 10px        ;
}