
  html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
font-family: Arial, Helvetica, sans-serif;
/* color: white; */
}
.parent{
  width: 100%;
  height: 100%; 
  display: flex;
  flex-wrap: wrap;
  

  
}
.card{
  border-radius: 30px;
  margin: 20px;
 
  
  border: 2px solid white;
  padding: 30px;
  height: 330px;
  width: 260px;
  background-color: rgb(254, 252, 252);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .top{
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  justify-content: space-between;
}
.top img{
  width: 42px;
  height: 40px;
  border-radius: 50%;
}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  gap: 3px;
  border-radius: 5px;
  background-color: transparent;
  color: #b1b1b1;
}
.center span{
  font-size: 10px;
  color: #8b8b8b;
}
.center h3{
  font-size: 17px;
  font-weight: 500;
}
center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #b1b1b1;
}
.center h2{
  font-size: 20px;
}
.center .tag{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}
.center  .tag h4{
  font-size: 12px;
  background-color: white;
  color: black;
  font-weight: 500;
  padding: 3px 6px;
  border: 1px solid #b1b1b1;
}
.bottom{
  display: flex;align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
}
.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600;
}
.bottom p{
  font-size: 10px;
  color: #8b8b8b;;
}
